.App-ChatIntro{
    background-color: #fcf4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 6px solid #e2c2eb;
}

.App-ChatIntro-img{
    width: 250px;
    height: auto;
    border-radius: 90px;
}

.App-ChatIntro h1{
    font-size: 32px;
    color: #525252;
    font-weight: normal;
    margin-top: 30px;
}

.App-ChatIntro h2{
    font-size: 12px;
    color: #777;
    font-weight: normal;
    margin-top: 20px;
    line-height: 20px;
    text-align: center;
}