.NewChat{
    width: 35%;
    max-width: 415px;
    position: fixed;
    left: 0;
    top: 0%;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
    transition: all ease 0.3s;
}

.NewChat-Header{
    display: flex;
    background-color: #00BFA5;
    align-items: center;
    padding: 60px 15px 15px 15px;
}

.NewChat-Header--Btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.NewChat-Header--Tittle{
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    flex: 1;
    font-weight: bold;
    color: #FFF;
    margin-left: 20px;
}

.NewChat-List{
    flex: 1;
    overflow-y: auto;
}

.NewChat-List::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
  
.NewChat-List::-webkit-scrollbar-thumb{
    background-color: #00000038;
}

.NewChat-List--Item{
    display: flex;
    align-items: center;
    padding: 15px ;
    cursor: pointer;
    border-bottom: 1px solid #DDD;
}

.NewChat-List--Item:hover{
    background-color: #F5F5F5;
}

.NewChat-List--Item-Img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.NewChat-List--Item-Name{
    font-size: 19px;
    color: #000;
}